# Server configuration
PORT=3000
NODE_ENV=development

# Database connection (MongoDB Atlas)
DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/ecommerce?retryWrites=true&w=majority

# CORS settings
CORS_ORIGIN=http://localhost:3000

# JWT secret key (change in production)
JWT_SECRET=your-secret-key-here
REFRESH_TOKEN_EXPIRY=604800000
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=TOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET